{% extends 'main_profile.html' %}
{% load static %}

{% block content %}

<div class="compare__content">
    <!-- Левый спортсмен для сравнения -->
    <div class="compare__header">
        <div class="compare__title">
            <h1>Сравнить спортсменов</h1>
        </div>
    </div>
    <div class="compare__left  left-sportman">
        <div class="left-sportman__header"></div>
    </div>
    <!-- Правый спортсмен для сравнения -->
    <div class="compare__right right-sportman">
        <div class="right-sportman__header"></div>
    </div>
</div>

{% endblock content %}