{% extends 'main.html' %}
{% load static %}

{% block content %}
<!-- Sportmans List Starts -->
<div class="sportmanList">
    <div class="sportmanList_list">

        {% for sportman in sportmans %}
            <div class="sportmanRow">
                <div class="sportmanRow__left">
                    <div class="sportmanRow__options">
                        <a href="{% url 'delete_profile' sportman.id %}">
                            <span class="material-symbols-outlined material-symbols-outlined__delete">
                                delete
                            </span>
                        </a>
                        <span class="material-symbols-outlined material-symbols-outlined__document">
                            document_scanner
                        </span>
                        <a href="{% url 'edit-profile' sportman.id %}">
                            <span class="material-symbols-outlined material-symbols-outlined__edit">
                                edit
                            </span>
                        </a>
                    </div>
                    <a href="{% url 'sportman-profile' sportman.id %}">
                        <h3 class="sportmanRow__title">{{sportman.second_name}} {{sportman.name}} {{sportman.parent_name}}</h3>
                    </a>
                </div>
                
                <div class="sportmanRow__right">
                    <h4 class="sportmanRow__birthday">{{sportman.birthday|date:'d.m.Y'}}</h4>
                    <h4 class="sportmanRow__telNumber">{{sportman.phone_number}}</h4>
                    <h4 class="sportmanRow__id">{{sportman.id}}</h4>
                    <div class="sportmanRow__time">{{sportman.created|date:'d.m.Y H:i'}}</div>
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>
<!-- Sportmans List Ends -->
{% endblock content %}