{% extends 'main_profile.html' %}
{% load static %}

{% block content %}

<div class="sportmanList profileBody">

    <!-- Контент профиля -->
    <div class="profile__content">
        <div class="profile__inf">
            <div class="profile__inf__title">
                <h3 class="profile__id">id: {{sportman.id}}</h3>
                <h3 class="profile__title">Цифровой профиль: Медицинские показатели</h3>
            </div>
            <div class="medicine__content">
                <!-- Шапка для добавления, обновления, ориентирования -->
                <div class="anthropometry__row medicine__header">
                    <div class="anthropometry__left medicine__header__left">
                        <!-- Функции записей антропометрии -->
                        <div class="anthropometry__options medicine__header__options">
                            <a href="#create_popup">
                                <span class="material-symbols-outlined">
                                    add_circle
                                </span>
                            </a>
                            <a href="{% url 'sportman-medicine' sportman.id %}">
                                <span class="material-symbols-outlined">
                                    sync
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="sportmanRow__right medicine__header__right">
                        <h4>ЧСС</h4>
                        <h4>Артериальное давление</h4>
                        <h4>Медицинские заключения</h4>
                        <div class="anthropometry__time medicine__header__time">Дата измерения</div>
                    </div>
                </div>

                <!-- Замеры антропометрических данных спортсмена -->
                {% for medicine_test in medicine_tests %}
                <div class="anthropometry__row">
                    <div class="anthropometry__left">
                        <!-- Функции записей антропометрии -->
                        <div class="anthropometry__options">
                            <a href="">
                                <span class="material-symbols-outlined material-symbols-outlined__delete">
                                    delete
                                </span>
                            </a>
                            <a href="">
                                <span class="material-symbols-outlined material-symbols-outlined__edit">
                                    edit
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="sportmanRow__right">
                        <h4>{{medicine_test.bpm}}</h4>
                        <h4>{{medicine_test.arterial_pressure}}</h4>
                        <h4>{{medicine_test.medical_tests}}</h4>
                        <div class="anthropometry__time medicine__time">{{medicine_test.time|date:'d.m.Y'}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Sidebar профиля -->
    <div class="profile__sidebar">
        <a href="{% url 'sportman-profile' sportman.id %}">
            <div class="profile__sidebarOption">
                <h3>Общая информация</h3>
            </div>
        </a>
        <a href="{% url 'sportman-anthropometry' sportman.id %}">
            <div class="profile__sidebarOption">
                <h3>Антропометрия</h3>
            </div>
        </a>
        <a href="{% url 'sportman-career' sportman.id %}">
            <div class="profile__sidebarOption">
                <h3>Карьерная история</h3>
            </div>
        </a>
        <a href="{% url 'sportman-medicine' sportman.id %}">
            <div class="profile__sidebarOption profile__sidebarOption_active">
                <h3>Медицинские показатели</h3>
            </div>
        </a>
        <a href="{% url 'sportman-indicators' sportman.id %}">
            <div class="profile__sidebarOption">
                <h3>Нормативы</h3>
            </div>
        </a>
        <a href="{% url 'sportman-competitions' sportman.id %}">
            <div class="profile__sidebarOption">
                <h3>История соревнований</h3>
            </div>
        </a>
        <a href="{% url 'sportman-diet' sportman.id %}">
            <div class="profile__sidebarOption">
                <h3>Система питания</h3>
            </div>
        </a>
        <a href="{% url 'sportman-traumas' sportman.id %}">
            <div class="profile__sidebarOption">
                <h3>Травмы</h3>
            </div>
        </a>
    </div>

    <!-- Pop-up Create a digital profile Starts -->
    <div class="popup" id="create_popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="{% url 'sportman-medicine' sportman.id %}" class="popup__close close-popup">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </a>
                <div class="popup__title">Добавить медицинские показатели</div>
                    <div class="form">
                        <form action="{% url 'sportman-medicine' sportman.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="input_field">
                                {{medicine_form.bpm}}
                            </div>

                            <div class="input_field">
                                {{medicine_form.arterial_pressure}}
                            </div>

                            <div class="input_field">
                                {{medicine_form.medical_tests}}
                            </div>

                            <div class="input_field">
                                {{medicine_form.time}}
                            </div>
                            
                            <div class="input_field button">
                                <input type="submit" value="Добавить">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Pop-up Create a digital profile Ends -->
</div>

{% endblock content %}